

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Editar producto</title>
  <link rel="stylesheet" href="/css/crearProducto.css"></link>
  <%-include("../partials/head")%>
</head>
<!-- <body class="body"> -->
<body class="body">
  <%-include("../partials/header")%>
  <main>
    <div class="container">
      <form action="/editarProducto/<%= producto.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="encabezado">
          <h3>Estas editando información del producto <em><%= producto.nombre%> </em></h3>
        </div>
        <div class="detail-product">
          <div>
            <label for="categoria" class="form-label"><b>Categoria:</b></label><br>
            <select name="categoria" id="categoria" class="form-input">
              <% for (let i of c){ %>
              <option value=<%= i.id%>> <%= i.nombre%> </option>
              <% } %>
            </select>
          </div>
          <div>
            <label for="nombre" class="form-label"><b>Nombre: </b></label><br>
            <input minlength="5" required type="text" id="nombre" name="nombre"  class="form-input" value="<%=producto.nombre%>">
          </div>
          <div>
            <label for="marca" class="form-label"><b>Marca:</b></label><br>
            <select name="marca" id="marca" class="form-input">
              <% for (let i of m){ %>
                <option value="<%= i.id%>"> <%= i.nombre%> </option>
              <% } %>
            </select>
          </div>
          <div>
            <label for="precio" class="form-label"><b>Precio (COP):</b></label><br>
            <input required pattern="^[0-9]*$" title="solo numeros" type="text" id="precio" name="precio" class="form-input" value="<%=producto.precio%>">
          </div> 
          <div>
            <label for="descripcion" class="form-label"><b>Descripción:</b></label><br>
            <textarea minlength="20" type="text" id="descripcion" name="descripcion"  class="form-input"> <%=producto.descripcion%> </textarea>
          </div> 
          <div>
            <label for="imagen" class="form-label"><b>Imagen:</b></label><br>
            <input type="file" name="imagen" id="imagen" multiple/></input>
          </div> 
          <div>
            <button type="submit" class="boton">Actualizar</button>
          </div>
        </div>
      </form>
    </div>
  </main>
  <%-include("../partials/footer")%>
</body>
</html>

