<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/css/listaUsuarios.css"></link>
  <%-include("../partials/head")%>
</head>
<body class="body">   
    <%-include("../partials/header")%>
    <div class="container mt-5">
        <div class="encabezado">
            <h3>Usuarios registrados</h3>
        </div>
    	<div class="row contenedor">
            <%for(let u of usuario){%>
    		<div class="col-md-3">
                <div class="card">
                    <a href="/perfil/<%=u.id%>">
                        <div class="image-container">
                            <img src="<%=u.imagen%>" class="img-fluid rounded thumbnail-image">	
                        </div>  
                        <div class="product-detail-container p-2">
                            <div class="d-flex flex-column">
                                <h5 class="nombre"><%=u.nombre%> <%=u.apellido%></h5>   
                            </div>
                        </div>
                    </a>
    			</div>
    		</div>  
            <% } %> 
        </div>
    </div>
</body>
</html>